body{
    margin:0;
    padding:0;
    height: 450vh;
    font-family: 'Arial', sans-serif;
    background: #f3f3f3; 
}

h1{
    padding: 5vh;
}

#imgcontainer {
    top:0;
    width: 45vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.8);    
    margin: 0;
    padding: 0;
    justify-self: end;
    position: fixed;
    right: 0;
    display:flex;
    border-radius: 25px 0 0 25px;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.23);
}

/* image gallery */
#img1 {
    position: absolute;
    top:35vh;
    left:3vw; 
    z-index: 2;
    opacity: 1;
    transform: scale(1.5);
}
#img2 {
    position: absolute;
    top:35vh;
    left:20vw;
    z-index: 1;
    opacity: 0.5;
}
#img3 {
    position: absolute;
    top:30vh;
    left: 12vw;
    z-index: 0;
    opacity: 0.5;
}
#img4 {
    position: absolute;
    top: 13vh;
    left:3vw;
    z-index: -1;
    opacity: 0.5;
}
#img5 {
    position: absolute;
    top: 7vh;
    left:15vw;
    z-index: -2;
    opacity: 0.5;
}

/* image styling after changed with js */
#imgcontainer img {
    transition: all 0.3s ease-in-out;
}

/* .highlight {
    transform: scale(1.5);
    position: absolute;
} */

.description {
    margin: 0;
    height: 70vh;
    padding: 6vh;
    width:45vw;

    transition: all 1s;
}

/* for js */
.offscreen {
    opacity: 0.2;
    font-size: 1em;
    color: #333;
    /* transform: translateY(20px);  */
}

.onscreen {
    opacity: 1;
    font-size: 2em;
    /* transform: translateY(0); */
    transition: all 0.5s ease-in;
}